{% extends 'shoping/base.html' %}

 {% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
 {% include 'shoping/includes/html.html' %}
    <link rel="stylesheet" href="{% static 'css/drink.css' %}">
    <div class="container">
        <h1>Сайт Напитков</h1>

        {% for drink in drinks %}
            <div class="alert alert-warning ">

                <h5>Название напитка: {{ drink.title }}</h5>
                <p>Описание: {{ drink.description }}</p>
                <img class="card-img" src="{{ MEDIA_URL }}{{ drink.image }}" alt="Card image cap">
            </div>
        {% endfor %}
    </div>
{% endblock %}

