body{
    background: aqua;

}
.container{
    padding: 100px;

}

.form-group{
    flex-grow: inherit;
    flex-direction: row;
    justify-content: center;
    text-align: end
}

.h4{
    font-size: 50px;
}